/*set the axis line color, dot stroke, font size, and font position*/
body {
  font: 15px sans-serif;
}

.name{
  position: relative;
  top: 90px;
  text-align: left;
  font-weight: bold;
}

.title {
  position: relative;
  text-align: left;
  font-size: 25px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke:none;
  stroke-width:0.5px;
  opacity:0.8;
}

.pname {
  font: 20px bold, sans-serif;

}

.pdetails {
  font: 14px sans-serif;
}

p {
   margin: 0px;
   padding: 0px;
}

h1 {
   margin: 0px;
   padding: 0px;
} 

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    height: 230px;         
    padding: 5px;       
    font: 14px, sans-serif; 
    color: white;   
    background: black; 
    border: 0px;    
    border-radius: 8px;     
  }

#filter {
  position: absolute;
}

#mark {
  padding-left: 150px;
  position: inherit;
}

#xAXs {
  position: relative;
  left: 290px;
  bottom: 30px;
}

#yAXs {
position: relative;
bottom: 30px;
left: 315px;

}

#label {
position: absolute;
top: 599px;
bottom: 125px;
left: 300px;
right: 0px;
}

#label2 {
position: absolute;
top: 599px;
bottom: 125px;
left: 430px;
right: 0px;
}